:host {
  display: flex;
  flex-direction: column;
  height: inherit;
}

app-navigation-bar {
  height: 64px;
  flex-shrink: 0;
}

.app-content {
  padding: 1rem 1.5rem;
  flex: 1;
  overflow-y: auto;
  container-type: size;
}

.active-link {
  font-weight: 600;
  text-decoration: underline;
}
