<mat-toolbar color="primary">
  <span>🏓 Table Tennis Tournament</span>
  <span class="spacer"></span>

  <input type="file" #fileInput accept=".xlsx" (change)="loadTournament($event)" style="display:none">

  <button mat-icon-button (click)="fileInput.click()" title="Загрузить XLSX">
    <mat-icon>upload_file</mat-icon>
  </button>

  <button mat-raised-button color="accent" (click)="generateMatches()">
    <mat-icon>casino</mat-icon>
    Сгенерировать матч
  </button>
</mat-toolbar>

<div class="content">
  <app-players-table></app-players-table>

  <div style="margin-top: 20px;">
    <app-matches-list></app-matches-list>
  </div>
</div>
